{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <h3>Liste des catégories : </h3>
    {# condition test si le tableau est rempli #}
    {# test tableau est vide #}
    {% if categories == null %}
        <h4 class="error">La liste des catégorie est vide </h4>
    {# test non vide #}
    {% else %}
        {# Parcour du tableau avec une boucle #}
        {% for category in categories %}
            {# Affichage des attibuts #}
            <h4 class="valide"> {{ category.id }} : {{ category.name }} </h4>
        {% endfor %}
    {% endif %}
    <a class="export" href="{{ path('app_category_export') }}" >Export du CSV</a>
{% endblock %}