{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    <h3>formulaire d'inscription :</h3>
    {# création du formulaire #}
    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}