{% extends 'base.html.twig' %}

{% block title %}Ajouter article{% endblock %}

{% block body %}
   {#  <h2>{{user}}</h2> #}
    {# insertion du formulaire #}
    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form)}}
    {# Test des erreurs en utilisant les conditions #}
    {% if resultat == '' %}
    {% else %}
        <p>L'article à été enregistré dans la BDD </p>
    {% endif %}
{% endblock %}
